@{
    ViewData["Title"] = "FAQs | Smithovision";
    Layout = "_About.cshtml";
}

<center>
    <h4>Join Us</h4>
    <h6>We can be found on various platforms. Follow and subscribe to get the latest news and updates.</h6>
    <ul>
        <li>Discord</li>
        <li>YouTube</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
    </ul>
</center>


<center>
    <h4>Get Involved</h4>
    <h6>We give back to the local communities with the following programs and services.</h6>
    <ul>
        <li>Smitholabs</li>
        <li>E-Class</li>
        <li>Social Events</li>
        <li>Giveaways</li>
    </ul>
    <h6>You can support the mission in a variety of ways. To get started, click here.</h6>

</center>