
@{
    ViewData["Title"] = "Contact | Smithovision";
    Layout = "_About.cshtml";
}

<br />
<br />
<center><h2>Contact Us</h2></center>
<br />

<center>

    <br />
    <p class="message">
        Thanks for stopping by! Please check back later for updates.
        For questions or concerns send us an email and we will contact you soon.
        You can also reach us on our social media platforms that we have listed below.
    </p>

    <br />

    <address>
        Shreveport, LA<br />
        <abbr title="Phone">Phone:</abbr>
        225.975.2937
    </address>

    <address>
        <strong>Inquiry:</strong>   <a href="mailto:info@smithovision.com">info@smithovision.com</a><br />
    </address>


</center>
<br>
<center>
    <div class="m-4">
        <h5>Follow us on social media, we'd love to hear from you!</h5>
        <a href="https://www.facebook.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/Facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/instagram.png" alt="Instagram"></a>
        <!--<a href="https://www.youtube.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/youtube.png" alt="YouTube"></a>-->
    </div>
</center>