:root {
    --primary-color: #191970;
    --secondary-color: #FFD700;
    --teritary-color: #008E4C;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #DEDEDE;
}




html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
}

.mainBody {
    color: var(--black);
    background-color: var(--white);
    margin-bottom: 60px;
}

.mainButton {
    border-color: var(--secondary-color);
    border-radius: 44px;
    background-color: var(--white);
    font-size: 28px;
    color: var(--teritary-color);
}

.mainButton:hover, .mainButton:focus {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 44px;
}

.message {
    color: var(--secondary-color);
    width: 800px;
}

.bars {
    background-color: var(--primary-color);
}

.accountManagement {
    color: var(--secondary-color);
    background-color: var(--black);
}
