:root {
    --primary-color: #191970;
    --secondary-color: #FFD700;
    --teritary-color: #008E4C;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #DEDEDE;
}


html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

img {
    border-radius: 40px;
}


body {
    background-color: var(--primary-color);
    margin-bottom: 60px;
}
.box {
    box-shadow: 2px 8px 8px  rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.tainer {
    background-color: var(--white);
}

ul {
    list-style: none;
}

.lister li::before {
    content: "\2713"; /* Unicode bullet symbol */
    color: var(--teritary-color); /* Bullet color */
    /* Optional tweaks */
    font-weight: bold;
    padding-right: 10px;
}

.feat {
    height: 480px;
    background-color: var(--secondary-color);
    margin-top: 0px;
}


.startSection {
    padding: 40px 40px 40px 40px;
    margin: 0px 0px 80px 0px;
    background-color: var(--gray);
    border-radius: 20px;
    border: 2px solid #F1F1F1;
    /*border-color: var(--primary-color);
    border-width: 40px;*/
}

.serviceSummary {
    max-width: 100%;
    margin: 80px 80px 200px 80px;
    color: var(--primary-color);
    background-color: var(--white);
}

.homeSub {
    font-size: 24px;
}


.tab {
    text-indent: 40px;
}


.logo {
    color: var(--teritary-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-decoration: none;
}

.logo:hover, .logo:focus {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 44px;
}

.mainBody {
    color: var(--black);
    background-color: var(--white);
    margin-bottom: 60px;
}

.mainButton {
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    border-color: var(--secondary-color);
    border-radius: 44px;
    background-color: var(--white);
    font-size: 28px;
    color: var(--teritary-color);
    border: 4px solid var(--secondary-color);
}

    .mainButton:hover, .mainButton:focus {
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border-radius: 44px;
        box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 1;
    }

.message {
    color: var(--secondary-color);
    width: 800px;
}

.bars {
    background-color: var(--primary-color);
}

.coprighter {
    margin: 0px 0px 0px 1500px;
}

.footstuff {
    margin: 0px 0px 0px 30px;
}

.accountManagement {
    color: var(--secondary-color);
    background-color: var(--black);
}





.dicord-section {
    background-color: purple;
    color: white;
}

.github-section {
    background-color: black;
    color: white;
}

.youtube-section {
    background-color: red;
    color: white;
}

.dicord-comm {
}

.github-comm {
}

.youtube-comm {
}



.animated-div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: animateDiv 2s infinite;
}

@keyframes animateDiv {
    0% {
        transform: scale(1);
        background-color: red;
    }

    50% {
        transform: scale(1.5);
        background-color: blue;
    }

    100% {
        transform: scale(1);
        background-color: red;
    }
}
