@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mvc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
</head>
<body class="mainBody">
    <header>
        <nav class="bars navbar navbar-expand-sm navbar-toggleable-sm border-top border-bottom mb-3">
            <div class="container-fluid">
                <a asp-area="Visitor" asp-controller="Home" asp-action="Index"><img src="/images/smithocon4.png" alt="smitho icon">Smithovision</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav flex-grow-1 flex-row-reverse">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Visitor" asp-controller="Company" asp-action="Index">Company</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Visitor" asp-controller="Technology" asp-action="Index">Technology</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Visitor" asp-controller="Featured" asp-action="Index">Featured</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Visitor" asp-controller="Solutions" asp-action="Index">Solutions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-area="Visitor" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-bottom footer text-muted bg-light">
        <ul class="navbar-nav list-group-horizontal">
            <li class="nav-item me-4">
                <a class="foot-link" asp-area="Visitor" asp-controller="About" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item ">
                <a class="foot-link" asp-area="Visitor" asp-controller="About" asp-action="Contact">Contact</a>
            </li>
            <li class="offset-sm-10 align-items-end">
               &copy; 2022 - Smithovision 
            </li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="//cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/g6ucaxcx0t9cz5uylrnkgce7qc35c3t2qq4atsqk64fyid3a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>