@{
    Layout = "_ServiceLayout.cshtml";
    ViewData["Title"] = "Application Development";
}

<p>Application Development</p>

<h1>Build for business of build just because</h1>

<h4>We use the latest technologies to create secure and efficient applications</h4>

<div class="serviceSummary">

    @*link to corresponding  technology page where it makes sense*@

    
    <p>Get connected, Reach the world</p>

    <div class="box startSection" id="web">
        <p class="homeSub">Web Development</p>
        <div class="web">
            <h2>Web</h2>
            <h3>Server</h3>
            <h3>Client</h3>
        </div>

        <a class=" mainButton asp-area="Visitor" asp-controller="Service" asp-action="Web">Get Started</a>
    </div>



    <p>Turn your app ideas into app installs</p>

    <div class="box startSection" id="mobile">
        <p class="homeSub">Mobile Development</p>
        <div class="mobile">
            <h2>Mobile</h2>
            <h3>Android</h3>
            <h3>iOS</h3>
        </div>
        <a class=" mainButton asp-area="Visitor" asp-controller="Service" asp-action="Mobile">Get Started</a>
    </div>



    <p>Turn your app ideas into app installs</p>


    <div class="box startSection" id="desktop">
        <p class="homeSub">Desktop Development</p>
        <div class="desktop">
            <h2>Desktop</h2>
            <h3>Windows</h3>
            <h3>MacOs</h3>
            <h3>Linux</h3>
        </div>

        <a class=" mainButton asp-area="Visitor" asp-controller="Service" asp-action="Desktop">Get Started</a>
    </div>



    <p>With big data comes big possibilities</p>

    <div class="box startSection" id="data">
        <p class="homeSub">Data Management</p>
        <div class="data">
            <h2>Data</h2>
            <h3>Database</h3>
            <h3>Analysis</h3>
        </div>
        <a class=" mainButton asp-area="Visitor" asp-controller="Service" asp-action="Data">Get Started</a>
    </div>
</div>