@{
    Layout = "_TechnologyLayout.cshtml";
    ViewData["Title"] = "Blockchain";
}

<p>Blockchain</p>

<p>Blockchain is a decentralized, distributed ledger technology that allows for secure and transparent transactions without the need for a central authority. Blockchain can be used in a variety of applications, including finance, supply chain management, and voting systems.</p>
Features:
<ul>
    <li>Distributed ledger technology</li>
    <li>Secure cryptographic algorithms</li>
    <li>Smart contract frameworks</li>
    <li>Consensus mechanisms</li>
</ul>


<p>Learn more button will be linked to published ebook on topic</p>