@{
    Layout = "_TechnologyLayout.cshtml";
    ViewData["Title"] = "Java";
}

<p>Java</p>


<p>Java is a high-level, object-oriented programming language widely used for developing enterprise-level applications. It offers a secure and stable platform for building scalable, high-performance software solutions across different platforms and operating systems.</p>
<h4>Features:</h4>
<ul>
    <li>Platform independence</li>
    <li>Object-oriented programming</li>
    <li>Memory management</li>
    <li>Multi-threading</li>
    <li>Robust standard library</li>
</ul>