@{
    Layout = "_TechnologyLayout.cshtml";
    ViewData["Title"] = "Javascript";
}

<p>Javascript</p>

<p>JavaScript is a popular scripting language used for building interactive web applications and dynamic user interfaces. It is a client-side language that runs in the browser, enabling developers to create dynamic, real-time user experiences. JavaScript is also used in server-side programming with Node.js.</p>
<h4>Features:</h4>
<ul>
    <li>Client-side scripting</li>
    <li>Lightweight and fast</li>
    <li>Dynamic typing</li>
    <li>Object-oriented and functional programming</li>
    <li>Large open-source community</li>
</ul>