@{
    Layout = "_TechnologyLayout.cshtml";
    ViewData["Title"] = "Swift";
}

<p>Swift</p>

<p>Swift is a powerful, high-performance programming language used for building iOS, macOS, watchOS, and tvOS applications. It is designed to be easy to use, safe, and efficient, with modern syntax and features that make it a popular choice among developers for building mobile and desktop applications.</p>
<h4>Features:</h4>
<ul>
    <li>Fast and efficient</li>
    <li>Safe and secure</li>
    <li>Modern syntax and features</li>
    <li>Object-oriented programming</li>
    <li>Support for functional programming</li>
</ul>