@{
    Layout = "_TechnologyLayout.cshtml";
    ViewData["Title"] = "Virtual Reality";
}

<p>Virtual Reality</p>

<p>VR technology allows users to experience a computer-generated environment as if it were real life. VR can be used for a variety of applications, including gaming, training simulations, and virtual tours of real-world locations.</p>
Features:
<ul>
    <li>Head-mounted displays</li>
    <li>3D modeling and rendering software</li>
    <li>Real-time motion tracking systems</li>
    <li>Haptic feedback devices</li>
</ul>