@{
    ViewData["Title"] = "Smithovision";
}


<center>
    <h1>
        Craft Your Vision
    </h1>
    <h2>
       Build from scratch, or not...
    </h2>

    <h3>Choose from an extensive catalog of reusable requirements and modules of code </h3>
    <h3></h3>
</center>




<div class="">
    services featured industries company
</div>












