@{
    ViewData["Title"] = "Smithovision";
}


<div id="newsBoard" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/kamehameha.png" width="100%" height="300"  alt="news1">
    </div>
    <div class="carousel-item">
      <img src="~/images/kingalfred.png" width="100%" height="300"  alt="news2">
    </div>
    <div class="carousel-item">
      <img src="~/images/sadsad.png" width="100%" height="300" alt="news3">
    </div>
  </div>
</div>

