@using Models.ViewModels;
@model HomeContactVM

@{
    ViewData["Title"] = "Smithovision";
}


<center>
    <h1>
        Contact Us
    </h1>
    <h2>
        Build from scratch, or not...
    </h2>

    <h3>Choose from an extensive catalog of reusable requirements and modules of code </h3>
    <h3></h3>
</center>


<center><form method="post" asp-action="HomeContact" enctype="multipart/form-data">

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="mb-3">
                        <label asp-for="FirstName" class="formLabel"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                        <label asp-for="LastName" class="formLabel"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                        <label asp-for="EmailAddress" class="formLabel"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                        <label asp-for="PhoneNumber" class="formLabel"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                        <label asp-for="CompanyName" class="formLabel"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                        <label asp-for="Description" class="formLabel"></label>
                    @*<input asp-for="Description" class="form-control" />*@
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <center><button type="submit" class="mainButton" style="width:150px">Send</button></center>
                </div>

            </div>
        </div>
    </div>
</form></center>


<center>
    <div class="m-4">
        <h2 class="">Connect With Us</h2>
        <p>Follow us on social media, we'd love to hear from you!</p>
        <a href="https://www.facebook.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/Facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/instagram.png" alt="Instagram"></a>
        <!--<a href="https://www.facebook.com/smithovision/"><img class="SML" src="Media/pinterest.png" alt="SnapChat"></a>-->
    </div>
</center>
