@{
    ViewData["Title"] = "News | Smithovision";
}

<center>
    <table>
        <thead>Current Events</thead>
        <tr>
            <th class="col-8">Article</th>
            <th class="text-end">Date</th>
        </tr>
        <tr>
            <td>My article</td>
            <td class="text-end">@DateTime.Now.Date</td>
        </tr>
    </table>
</center>