<center><h1>Our Products</h1></center>
<br />



<div class="card mb-2">
  <h5 class="card-header">Bngo</h5>
  <div class="card-body">
    <h5 class="card-title">Get the bngo experience</h5>
    <p class="card-text">Bngo is a social application that we developed for Bngo Inc. Create and share experiences with your friends and community. <img id="iotImg1" src="~/images/icon.png" width="120px" height="120px" alt="iotImg1" /></p> 
    <a href="#" class="btn btn-primary">Get Bngo</a> 
  </div>
</div>
<br />
<div class="card mb-2">
  <h5 class="card-header">Speak Easy</h5>
  <div class="card-body">
    <h5 class="card-title">Find the next event</h5>
    <p class="card-text">Get soulful down at the SpeakEasy, an application that we developed for SpeakEasy Inc. Experience live poetry, music, open mic, and more in a groovy enviorment. <img id="iotImg1" src="~/images/icon.png" width="120px" height="120px" alt="iotImg1" /></p> 
    <a href="#" class="btn btn-primary">Get SpeakEasy</a> 
  </div>
</div>
<br />
<div class="card mb-2">
  <h5 class="card-header">Chase the Dot</h5>
  <div class="card-body">
    <h5 class="card-title">Our first game</h5>
    <p class="card-text">In the learning process of building this company we designed a simple game as a proof of concept. Although it is currently unsupported an older versino can still be downloaded on Android devices. <img id="iotImg1" src="~/images/icon.png" width="120px" height="120px" alt="iotImg1" /></p> 
    <a href="#" class="btn btn-primary">Get CTD</a> 
  </div>
</div>
<br />
<div class="card text-center">
  <div class="card-header">Custom Packages</div>
  <div class="card-body">
    <h5 class="card-title">Get Personalized Solutions</h5>
    <p class="card-text">We develop custom applications for business and individual needs using the most popular development tools.</p>
    <a href="#" class="btn btn-primary">See Packages</a>
  </div>
  <div class="card-footer text-muted">Promo Code: SMITHOWORKS</div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br />