<center><h1>Service Line</h1></center>
<center><h4>We offer a variety of services to help bring your business to life</h4></center>
<br />

<div class="card w-50 mb-2">
  <div class="card-body">
    <h5 class="card-title">Web Hosting</h5>
    <p class="card-text">Host your web application with us. We provide quality service and minimal overhead to get your project up and running.</p>
    <a href="#" class="btn btn-primary">See More</a>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Application Management</h5>
    <p class="card-text">We update and maintain your software to keep current with business needs and changes with core technology.</p>
    <a href="#" class="btn btn-primary">See More</a>
  </div>
</div>