<center><h1>System Engineering</h1></center>
<br />
<p><img id="iotImg1" src="~/images/icon.png" width="120px" height="120px" alt="iotImg1"/>We develop a variety of systems using both hard and software to create custom solutions for a wide range of need. 
    We have a line of products that we have created for primarily catered for business and productivity with a few for entertainment.
    We also develop custom projects for business and personal use. If interested see our packages below. Our goal is to provide enterprise quality to the everyday dreamer.
</p>
<p> Raspberry Pi projects. Migas affogato blue bottle poutine hexagon vinyl iPhone, authentic lomo franzen tbh. 
    Mixtape gochujang palo santo try-hard, williamsburg leggings offal seitan fashion axe fanny pack distillery tbh. 
    Wayfarers +1 knausgaard, keffiyeh celiac cold-pressed pour-over fam hoodie ramps master cleanse. 
    Slow-carb prism taiyaki disrupt brunch ugh VHS coloring book you probably haven't heard of them echo park church-key literally shabby chic organic. 
    Microdosing gentrify offal roof party activated charcoal tumblr meditation umami mlkshk. 
    3 wolf moon etsy cronut hot chicken tattooed williamsburg organic skateboard hexagon cornhole godard.
</p>
<p> Ardruino projects blue bottle poutine hexagon vinyl iPhone, authentic lomo franzen tbh. 
    Mixtape gochujang palo santo try-hard, williamsburg leggings offal seitan fashion axe fanny pack distillery tbh. 
    Wayfarers +1 knausgaard, keffiyeh celiac cold-pressed pour-over fam hoodie ramps master cleanse. 
    Slow-carb prism taiyaki disrupt brunch ugh VHS coloring book you probably haven't heard of them echo park church-key literally shabby chic organic. 
    Microdosing gentrify offal roof party activated charcoal tumblr meditation umami mlkshk. 
    3 wolf moon etsy cronut hot chicken tattooed williamsburg organic skateboard hexagon cornhole godard.
</p>
<p> Helium projects affogato blue bottle poutine hexagon vinyl iPhone, authentic lomo franzen tbh. 
    Mixtape gochujang palo santo try-hard, williamsburg leggings offal seitan fashion axe fanny pack distillery tbh. 
    Wayfarers +1 knausgaard, keffiyeh celiac cold-pressed pour-over fam hoodie ramps master cleanse. 
    Slow-carb prism taiyaki disrupt brunch ugh VHS coloring book you probably haven't heard of them echo park church-key literally shabby chic organic. 
    Microdosing gentrify offal roof party activated charcoal tumblr meditation umami mlkshk. 
    3 wolf moon etsy cronut hot chicken tattooed williamsburg organic skateboard hexagon cornhole godard.
</p>