@{
    Layout = "_CompanyLayout.cshtml";
    ViewData["Title"] = "About";
}

<br />

<center>
    <br />
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">
                We are a company of creative minds with the desire to provide services to help others succeed.
                We believe that technology should be a tool that can be crafted to handle any task we may encounter.
                Our organization aims to provide high quality products and services at a consistent level to meet the challenges of our modern world.
                We provide a wide array of services such as PC Repair, Software Development, and Business Consultation (make these items links).
                Broken computers, sick computers or cracked cell phone screens we have the tools and know how to get your system back up and operational.
                If a custom-built computer is what you want, we can do that too. We also develop custom software to run your business or bring your idea to fruition.
                For brick and mortar business, we provide our expertise to make sure you have the best tools to operate smoothly at the lowest cost possible.
                Our expertise covers setting up networks, installing equipment, and selecting the best equipment for the job.
                We started this business to serve entrepreneurs and develop future leaders and businesses owners.
                The community needs support from those that it produced and we love to give back because otherwise there is no point.
                We provide the opportunity to anybody that wants to construct something positive with the gifts they have been given.
            </p>

        </div>
    </div>
</center>
<br />

<div class="m-4 border-top border-secondary">
</div>

<br />

<center>
    <div class="m-4">
        <h2 class="">Connect With Us</h2>
        <p>Follow us on social media, we'd love to hear from you!</p>
        <a href="https://www.facebook.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/Facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/twitter.png" alt="Twitter"></a>
        <a href="https://www.instagram.com/smithovision/"><img class="img-rounded m-4" width="50" height="50" src="~/images/instagram.png" alt="Instagram"></a>
        <!--<a href="https://www.facebook.com/smithovision/"><img class="SML" src="Media/pinterest.png" alt="SnapChat"></a>-->
    </div>
</center>