@{
    Layout = "_CompanyLayout.cshtml";
    ViewData["Title"] = "Careers";
}


<h2>Establish a career at one of the fastest growing tech companies in Louisiana</h2>

<br />
<br />

<p>Page 1 of 1:</p>
<div class="m-4 border-top border-secondary">
</div>


<p>There are currently no available positions...</p>
<br />
<center><img src="/images/people-search.png" width="400px" height="400px" /></center>

<br />
<br />
<br />
<br />
<br />
<br />
