@{
    Layout = "_CompanyLayout.cshtml";
    ViewData["Title"] = "Community";
}

@*Different sections themed after providers main colors

    Providers: discord, github, youtube, etc...*@

<br />

<center>
    <h1>
        We live in the community! 
    </h1>
    <h2>Join us as we push the limits of imagination</h2>
</center>


<section class="dicord-section">
    <div class="dicord-comm">
        <p>connect with us on discord!</p>
        <p>Discoord server connection link </p>
    </div>
</section>

<section class="github-section">
    <div class="github-comm">
        <p>connect with us on discord!</p>
        <p>Discoord server connection link </p>
    </div>
</section>

<section class="youtube-section">
    <div class="youtube-comm">
        <p>connect with us on discord!</p>
        <p>Discoord server connection link </p>
    </div>
</section>


